<div class="container">
  <div class="row pt-4">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search for an exercise!"
          aria-label="Search"
        />
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
      <p class="pt-2" style="color: rgb(128, 128, 128)">
        Note: You can search by name of exercise (ex. "curls") or by muscle
        group (ex. "biceps")!
      </p>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
